packages: [
  "atom-beautify"
  "atom-ide-ui"
  "busy-signal"
  "change-case"
  "docker"
  "file-icons"
  "ide-purescript"
  "intentions"
  "language-docker"
  "language-jenkinsfile"
  "language-purescript"
  "language-vue"
  "languagetool"
  "linter-jenkins"
  "linter-languagetool"
  "minimap"
  "multi-cursor"
  "package-sync"
  "restart-atom"
  "split-diff"
  "status-bar-blame"
]
